time.calendar-icon
{
  text-decoration: none;
  font-size: 1em; /* change icon-small size */
  display: block;
  position: relative;
  background-color: #fff;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
  margin: 0 auto;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
}

time.calendar-left10
{
  float: left;
  margin-left: 10px;
}

time.calendar-icon *
{
  display: block;
  width: 100%;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.calendar-icon strong
{
  position: absolute;
  top: 0;
  padding: 0.1em 0;
  color: #fff;
}

time.calendar-icon em
{
  position: absolute;
  bottom: 0.1em;
}

time.calendar-icon span
{
  width: 100%;
  letter-spacing: -0.05em;
  color: #2f2f2f;
}

time.calendar-icon:hover, time.calendar-icon:focus
{
  -webkit-animation: swing 0.6s ease-out;
  animation: swing 0.6s ease-out;
}

@-webkit-keyframes swing {
  0%   { -webkit-transform: rotate(0deg)  skewY(0deg); }
  20%  { -webkit-transform: rotate(12deg) skewY(4deg); }
  60%  { -webkit-transform: rotate(-9deg) skewY(-3deg); }
  80%  { -webkit-transform: rotate(6deg)  skewY(-2deg); }
  100% { -webkit-transform: rotate(0deg)  skewY(0deg); }
}

@keyframes swing {
  0%   { transform: rotate(0deg)  skewY(0deg); }
  20%  { transform: rotate(12deg) skewY(4deg); }
  60%  { transform: rotate(-9deg) skewY(-3deg); }
  80%  { transform: rotate(6deg)  skewY(-2deg); }
  100% { transform: rotate(0deg)  skewY(0deg); }
}

time.calendar-green strong
{
  background-color: #72bf66;
  border-bottom: 1px dashed #249024;
  box-shadow: 0 2px 0 #72bf66;
}

time.calendar-green em
{
  color: #72bf66;
}

time.calendar-orange strong
{
  background-color: #ef7a25;
  border-bottom: 1px dashed #f37302;
  box-shadow: 0 2px 0 #ef7a25;
}

time.calendar-orange em
{
  color: #ef7a25;
}

time.calendar-red strong
{
  background-color: #9C0000;
  border-bottom: 1px dashed #6C0000;
  box-shadow: 0 2px 0 #9C0000;
}

time.calendar-red em
{
  color: #9C0000;
}

time.calendar-small
{
  width: 3.5em;
  height: 3.5em;
}

time.calendar-small *
{
  font-size: 0.7em;
}

time.calendar-small em
{
  font-size: 0.55em;
}

time.calendar-small span
{
  font-size: 1.4em;
  padding-top: 0.8em;
}

time.calendar-medium
{
  width: 5em;
  height: 5em;
}

time.calendar-medium *
{
  font-size: 1em;
}

time.calendar-medium em
{
  font-size: 0.65em;
}

time.calendar-medium span
{
  font-size: 2em;
  padding-top: 1.2em;
}

time.calendar-large
{
  width: 7em;
  height: 7em;
}

time.calendar-large *
{
  font-size: 1em;
}

time.calendar-large em
{
  font-size: 1em;
}

time.calendar-large span
{
  font-size: 2.8em;
  padding-top: 0.8em;
}

/******************************/

.agenda-agendar
{
  float: right;
}