
@font-face {
    font-family: 'PaloAlto'; /*a name to be used later*/
    src: url('../fonts/PaloAlto.ttf'); /*URL to font*/
}
/*a name to be used later
@font-face {
    font-family: 'Seravek'; 
    src: url('../fonts/Seravek.ttc');
}
*/
.palo-alto {
	font-family: 'PaloAlto' !important;
}
/*
.seravek {
	font-family: 'Seravek' !important;	
}
*/
.tag-rectangle h1 {
		text-align: center;
		font-size: 80px;
		color: #FFF8C6;
		margin: 53.6px 0;
		line-height: 93px;		
	}

.atividade-bloco {
	padding-top: 10px;
	display: block;
	height: 480px;
	position: relative;
}

#more-activities {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.mostra-logo {
	display: block;
	min-width: 100px;		
}

.esconde-logo {
	display: none;
}

.logo-preta {
	top: 0px;
	padding-bottom: 10px;
}

.box-titulo {
	text-align: left; 
	padding-left: 20px;
	margin-top: 0px;
	margin-bottom: 0px;	
}

.ancora-titulo {
	text-decoration: none !important;
}

.apresentacao {
	margin: 10px 10px 30px 10px;		
}

.botao-principal {
	background-color: rgba(0,0,0,0.3);
	border-color: rgba(0,0,0,0.3);		
}

.faixa-disponivel {
	float: right;
	margin-top: -10px;
}